<app-menu></app-menu>

<div class="container mt-5" *ngIf="!listaVacia">
  <div *ngFor="let usuario of usuarios">
    <div class="row cuadro" *ngIf="usuario.descripcion!=''">

      <div class="row">
        <div class="col-2 m-2  align-self-center">
          <img width="150px" height="150px" src={{usuario.foto}}>
        </div>

        <div class="col">
          <div class="row mt-2">
            <p class="font-weight-bold">{{usuario.nombre}} {{usuario.apellidos}}</p>
          </div>
          <div class="row">
            <p class="font-weight-light">{{usuario.descripcion}}</p>
          </div>
          <div class="row">
            <p class="font-weight-bold font-italic">{{usuario.especializacion}}</p>

          </div>

        </div>
        <div class="col-2 ml-3 mt-4 align-self-center">
          <div class="row ">
            <button class="btn btnver" routerLink="/perfil/{{usuario.id}}"><i class="far fa-eye"></i>
              Ver Perfil</button>
          </div>

        </div>
      </div>
    </div>

  </div>


</div>

<div class="container" *ngIf="listaVacia">
  <div class="p-3 mb-2 bg-dark text-white text-center">
    <h2>{{listaVacia}}</h2>
  </div>
</div>

<app-pie></app-pie>