body{
    background-image: url("../assets/images/fondoInicio.png");
    height: 91%;
}


.iniReg{
    border-radius: 6px;
    color: white;
    background: #ff5733;
    border: solid 1px #900c3f;
}

.iniReg:hover{
    color: #ffc30f;
}

.container{
    padding-top: 400px;

    display: flex;
    justify-content: center;
}