.cuadro{
    margin-top: 25px;
    display: block;
    justify-content: center;
    border: solid 1px #C70039;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btnver{
    color: white;
    background-color: #C70039;
    width: 150px;

}

.btnedit, .btnborr{
    background-color: #FF5733;
    color: white;
    width: 150px;
}
