<app-menu></app-menu>


<div class="container cuadro" *ngIf="espectaculo">
    <div class="row mt-4">
        <div class="col-12 text-aling-center">
            <h2 class="text-center">Edición espectáculo</h2>
        </div>
    </div>
    <form novalidate #f="ngForm">
        <div class="row mt-3">
            <div class="col-6">
                <div class="row">

                    <div class="col-12 form-group">
                        <label for="user">Nombre del espectáculo</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="espectaculo.nombre" required  [value]="espectaculo.nombre" 
                            autocomplete="off">

                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6 form-group">
                        <label for="precio">Precio</label>
                        <input type="text" class="form-control" id="precio" name="precio" [(ngModel)]="espectaculo.precio" required [value]="espectaculo.precio" 
                            autocomplete="off" pattern="[0-9]+([\.,][0-9]+)?">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <textarea  name="descripcion" id="" cols="155" rows="10"[(ngModel)]="espectaculo.descripcion" required>{{espectaculo.descripcion}}</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label for="imagen">Foto</label>
                    <input class="inputfile inpFoto" onchange='cambiar()' style="display:none ;" id="imagen"
                    name="imagen" accept=".png, .jpg, .jpeg" [(ngModel)]="espectaculo.imagen" required autocomplete="off"
                    (change)="capturarFoto($event)" type="file" />
                <label for="imagen" class="subir">Subir foto</label>
                <br>
                    <span style="color:red ;">* Tamaño recomendado 1100px x 300px </span>
                  
                </div>
            </div>
            <div class="col-3">
                <div *ngIf="previsualizacion">
                    <img [src]="previsualizacion" alt="img">
                </div>
                <div *ngIf="!previsualizacion">
                    <img [src]="espectaculo.imagen" alt="img">
                </div>
            </div>
        </div>

        <div class="row  justify-content-between">
            <div class="col-2">
                <button class="btn volver btn-outline-success btn-block" (click)="volver()">
                    <i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
            </div>
            <div class="col-2">
                <button type="submit" class="btn registrar btn-outline-success btn-block " (click)="onUpdate()">
                    <i class="fas fa-edit"></i>Guardar</button>
            </div>


        </div>

</form>
</div>
<br><br>

<script>
    function cambiar() {
        var pdrs = document.getElementById('foto').files[0].name;
        document.getElementById('info').innerHTML = pdrs;
    }

</script>