<app-menu></app-menu>

<div class="container"  *ngIf="!listaVacia">
  <table class="table table-dark text-center">
        <thead>
          <tr>
            <th scope="col">Foto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Precio</th>
            <th scope="col">Ver</th>
            <th scope="col" *ngIf="isArtista">Editar</th>
            <th scope="col" *ngIf="isArtista">Borrar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let esp of espectaculos">
            <td>FOTO CABECERA</td>

            <td>{{esp.nombre}}</td>
            <td>{{esp.descripcion}}</td>
            <td>{{esp.precio}}</td>

            <td><button class="btn btn-outline-primary" routerLink="/espdetalle/{{esp.id}}"><i class="far fa-eye"></i> Ver</button></td>
            <td *ngIf="isArtista"><button class="btn btn-outline-warning" routerLink="/espeditar/{{esp.id}}"><i class="far fa-edit"></i> Editar</button></td>
            <td *ngIf="isArtista"><button class="btn btn-outline-danger" onclick="borrar(esp.id)"><i class="far fa-trash-alt"></i> Eliminar</button></td>
          </tr>
        </tbody>
      </table>

      <button class="btn btn-outline-primary" routerLink="/">Volver</button>
</div>

<div class="container mt-5"  *ngIf="listaVacia">
  <div class="p-3 mb-2 bg-dark text-white text-center"><h2>{{listaVacia}}</h2></div>
</div>