<app-menu></app-menu>

<div class="container mt-3">

    <div class="row mt-4">
        <div class="col-12 text-aling-center">
            <h2 class="text-center">Registro de artista</h2>
        </div>
    </div>
    <form novalidate #f="ngForm">
        <div class="row mt-3">

            <div class="col-6">
                <div class="row">

                    <div class="col-12 form-group">
                        <label for="user">Nombre de Usuario</label>
                        <input type="text" class="form-control" id="user" name="user" [(ngModel)]="user" required minlength="4"
                            autocomplete="off">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required
                            autocomplete="off">
                    </div>

                    <div class="col-6 form-group">

                        <label for="apellidos">Apellidos</label>
                        <input type="text" class="form-control" id="apellidos" name="apellidos" [(ngModel)]="apellidos"
                            required autocomplete="off">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 form-group">
                        <label for="telefono">Teléfono</label>
                        <input type="tel" class="form-control" id="telefono" name="telefono" [(ngModel)]="telefono"
                            pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}" required autocomplete="off">
                    </div>
                    <div class="col-6 form-group">
                        <label for="fechNac">Fecha de nacimiento</label>
                        <input type="date" class="form-control" id="fechNac" name="fechNac" [(ngModel)]="fechNac"
                            required autocomplete="off">
                    </div>
                </div>
                <div class="row">

                    <div class="col-12 form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" required
                            autocomplete="off">
                    </div>

                </div>
                <div class="row">

                    <div class="col-12 form-group">
                        <label for="direccion">Direccion</label>
                        <input type="text" class="form-control" id="direccion" name="direccion" [(ngModel)]="direccion"
                            required autocomplete="off">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 form-group">
                        <label for="contrasenia">Contraseña</label>
                        <input type="password" class="form-control" id="contrasenia" name="contrasenia"
                            [(ngModel)]="contrasenia" required autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-12 form-group">
                        <label for="especializacion">Especialicación</label>
                        <input class="form-control" id="especializacion" required name="especializacion" [(ngModel)]="especializacion"
                            type="text" />

                    </div>
                </div>

                <div class="row">
                    <div class="col-12 form-group">
                        <label for="descripcion">Descripción</label>
                        <textarea class="form-control"  required id="descripcion" name="descripcion" [(ngModel)]="descripcion" col="50" rows="6"></textarea>
                        

                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <label for="foto">Foto</label>
                    </div>

                    <div class="col-12 container-input">
                        <input class="inputfile inpFoto" onchange='cambiar()' style="display:none ;" id="foto"
                            name="foto" accept=".png, .jpg, .jpeg" [(ngModel)]="foto" required autocomplete="off"
                            (change)="capturarFoto($event)" type="file" />
                        <label for="foto" class="subir">Subir foto</label>
                        <!-- imagen previsualizada-->
                        <div *ngIf="previsualizacion">
                            <img [src]="previsualizacion" alt="img">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row  justify-content-between">
            <div class="col-2">
                <button class="btn volver btn-outline-success btn-block" (click)="volver()">
                    <i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
            </div>
            <div class="col-2">
                <button type="submit" class="btn registrar btn-outline-success "   (click)="onCreate()" [disabled]="!f.valid">
                    <i class="far fa-plus-square"></i> Registrar</button>
            </div>
        </div>
        
    </form>
</div>
<br><br>

<script>
    function cambiar() {
        var pdrs = document.getElementById('foto').files[0].name;
        document.getElementById('info').innerHTML = pdrs;
    }
</script>