<app-menu></app-menu>

<div class="container cuadro">
    <div class="row mt-3 mb-5">
        <div class="col">
            <img width="1100px" height="300px" src="{{espectaculo.imagen}}">

        </div>
    </div>
    <div class="row">
        <div class="col mb-5">
            <h1 class="titulo text-center">{{espectaculo.nombre}}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p class="font-weight-bold">Descripción:</p>
            <p>{{espectaculo.descripcion}}</p>

        </div>
    </div>

    <div class="row mt-3">

        <div class="col d-flex justify-content-star">
            <button class="btn volver btn-outline-success btn-block" routerLink="/listaUsuario">

                <i class="fas fa-arrow-alt-circle-left"></i> Volver</button>

        </div>
        <div class="col d-flex justify-content-center">
            <p class="font-weight-bold">Precio: {{espectaculo.precio}} €</p>
        </div>
        <div class="col d-flex justify-content-end" *ngIf="!isArtista">
            <button class="btn volver btn-outline-success btn-block" routerLink="/cont/{{espectaculo.id}}">
                Contratar</button>

        </div>
     
    
    </div>
</div>
<app-pie></app-pie>