<nav class="navbar navbar-expand-lg">
  <a class="enlacesNav m-0" href="/"><img class="m-0" width="70px" height="70px" src="../assets/images/logo.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse color:white" id="navbarNav">
    <ul class="navbar-nav mr-auto">



      <li class="nav-item" *ngIf="isLogged">
        <a class="nav-link" routerLink="/listaUsuario"><i class="far fa-list-alt"></i> Lista Usuarios</a>
      </li>
      <li class="nav-item" *ngIf="isLogged">
        <a class="nav-link" routerLink="/listaEsp"><i class="far fa-list-alt"></i> Lista Espectaculo</a>
      </li>
      <li class="nav-item" *ngIf="isArtista">
        <a class="nav-link" routerLink="/espnuevo"><i class="fas fa-plus-circle"></i> Nuevo Espectaculo</a>
      </li>
    </ul>

    <form class="d-flex align-self-center">



      <div *ngIf="isLogged" class="align-self-center mt-3 mr-3">
        <button mat-button [matMenuTriggerFor]="menu">
          <h3 class="nombreUser align-self-center">{{user}}</h3>
        </button>
        <mat-menu #menu="matMenu">
          <button *ngIf="!isArtista" mat-menu-item class="btn btn-outline logout"
            routerLink="/usuarioeditar/{{idUsuario}}">Editar perfil</button>
          <button *ngIf="isArtista" mat-menu-item class="btn btn-outline logout"
            routerLink="/arteditar/{{idUsuario}}">Editar perfil</button>
          <button mat-menu-item class="btn btn-outline logout" (click)="logOut()">
            <i class="fas fa-sign-out-alt"></i> Cerrar Sesión</button>
        </mat-menu>
      </div>


    </form>
  </div>
</nav>