nav{
    background-color: #C70039 ;
    padding-top: 0px;
    padding-bottom: 0px;
    
}
.nombreUser{
    color: white;
    margin-top: 15px;
    margin-right: 20px;
}
a{
    color: white;
}

a:hover{
    color: #ffc30f;
}