nav{
    background-color: #C70039 ;
    padding-top: 0px;
    padding-bottom: 0px;
    
}
.nombreUser{
    color: white;
}
a{
    color: white;
}

a:hover{
    color: #ffc30f;
}

.logout{
    color: #900c3f;
}
.login{
    border-radius: 15px;
    border: 1px solid #900c3f;
    color: white;
    background-color: #ff5733;
}
 .login:hover{
    border-radius: 15px;
    border: 1px solid #C70039;
    color: #ffc30f;
    background-color: #900c3f;
}
