<nav class="navbar navbar-expand-lg">
  <a class="enlacesNav m-0"><img class="m-0" width="70px" height="70px" src="../assets/images/logo.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse color:white" id="navbarNav">
    <ul class="navbar-nav mr-auto">



      <li class="nav-item" *ngIf="isLogged">
        <a class="nav-link" routerLink="/listaUsuario">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-video2"
            viewBox="0 0 16 16">
            <path d="M10 9.05a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
            <path
              d="M2 1a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2ZM1 3a1 1 0 0 1 1-1h2v2H1V3Zm4 10V2h9a1 1 0 0 1 1 1v9c0 .285-.12.543-.31.725C14.15 11.494 12.822 10 10 10c-3.037 0-4.345 1.73-4.798 3H5Zm-4-2h3v2H2a1 1 0 0 1-1-1v-1Zm3-1H1V8h3v2Zm0-3H1V5h3v2Z" />
          </svg> Artistas</a>
      </li>
      <li class="nav-item" *ngIf="isLogged">
        <a class="nav-link" routerLink="/listaEsp">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye"
            viewBox="0 0 16 16">
            <path
              d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
          </svg> Espectaculos</a>
      </li>
    </ul>

    <form class="d-flex align-self-center">



      <div *ngIf="isLogged" class="align-self-center mt-3 mr-3">
        <button mat-button [matMenuTriggerFor]="menu">
          <h3 class="nombreUser align-self-center">
            {{user}}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-caret-down-fill" viewBox="0 0 16 16">
              <path
                d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
            </svg>
          </h3>
        </button>
        <mat-menu #menu="matMenu">
          
          <button *ngIf="isArtista" mat-menu-item class="btn btn-outline logout" routerLink="/espnuevo">Nuevo Espectáculo</button>
          <button *ngIf="isArtista" mat-menu-item class="btn btn-outline logout"
            routerLink="/misespectaculos/{{idUsuario}}">Mis espectáculos</button>

            <button *ngIf="!isArtista" mat-menu-item class="btn btn-outline logout" routerLink="/empmiscontratos/{{idUsuario}}">Mis contratos</button>


          <hr>
          <button mat-menu-item class="btn btn-outline logout" routerLink="/perfil/{{idUsuario}}">Mi perfil</button>
          <button *ngIf="!isArtista" mat-menu-item class="btn btn-outline logout"
            routerLink="/usuarioeditar/{{idUsuario}}">Editar perfil</button>
          <button *ngIf="isArtista" mat-menu-item class="btn btn-outline logout"
            routerLink="/arteditar/{{idUsuario}}">Editar perfil</button>
          <hr>
          <button mat-menu-item class="btn btn-outline logout" (click)="logOut()">
            <i class="fas fa-sign-out-alt"></i> Cerrar Sesión</button>
        </mat-menu>
      </div>


    </form>
  </div>
</nav>